/*color principal #f32c46*/
/*Inicio de sesion*/
#loginPage{
	background-image: url(https://i.imgur.com/TnhjHjS.png)!important;
	background-size: cover!important;
}

#loginPage .padded-left.padded-right.padded-bottom-page{
	margin-top: 7em!important;
    backdrop-filter: blur(16px) saturate(180%)!important;
    -webkit-backdrop-filter: blur(16px) saturate(180%)!important;
    background-color: rgba(17, 25, 40, 0.75)!important;
    border-radius: 12px!important;
    border: 1px solid rgba(255, 255, 255, 0.125)!important;
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 22em!important;
    padding-top: 3.3%!important;
    padding-bottom: 3.3% !important;
}

#loginPage .padded-left.padded-right.padded-bottom-page{
	color:#f32c46;
}
	
.button-submit {
    background: #f32c46;
    color: #fff;
}

#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 8em
}


/*Logo en barra de navegación*/
.adminDrawerLogo img { 
	content: url(https://i.imgur.com/dAEeqmL.png) !important;
	}

imgLogoIcon { 
	content: url(https://i.imgur.com/dAEeqmL.png) !important;
	} 
	
.pageTitleWithLogo { 
	background-image: url(https://i.imgur.com/dAEeqmL.png) !important;
	} 

/*Barra de navegacion superior*/

.skinHeader-withBackground {
    background-color: transparent!important;
}