/*color principal #f32c46*/
/*Inicio de sesion*/
#loginPage{
	background-image: url(https://i.imgur.com/TnhjHjS.png);
	background-size: cover;
}

/*Logo en barra de navegación*/
.adminDrawerLogo img { 
	content: url(https://i.imgur.com/dAEeqmL.png) !important;
	}

imgLogoIcon { 
	content: url(https://i.imgur.com/dAEeqmL.png) !important;
	} 
	
.pageTitleWithLogo { 
	background-image: url(https://i.imgur.com/dAEeqmL.png) !important;
	} 

/*Barra de navegacion superior*/

.skinHeader-withBackground {
    background-color: transparent!important;
}